body {
    background-image: url('download.jpg');
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
table {
    order: 1px solid #588c7e;
border-collapse: collapse;
width: 50%;
color: #588c7e;
font-family: monospace;
font-size: 25px;
text-align: center;
}
th {
background-color: #588c7e;
color: white;
}
div.center {
    margin-left: auto;
    margin-right: auto;
}
